<%- include('../layouts/header') %>

<div class="about-container">
    <div class="about-content">
        <div class="about-image">
            <img src="/images/about/about-ufo.jpg" alt="UFO Architecture">
        </div>
        <section class="about-section">
            <h2>About UFO</h2>
            <p>UFO(unidentified figurative object)</p>
            <p>디자인의 경계를 건축에 국한시키기 보다 확장된 의미를 내포하고 사용자로 하여금 다양한 경험을 주는것에 의의를 두고 있습니다.</p>
            <div class="representative">
                <p>대표 건축사 박선윤</p>
            </div>
        </section>
    </div>
</div>

<%- include('../layouts/footer') %> 