<%- include('../layouts/header') %>

<div class="about-container">
    <div class="about-content">
        <div class="about-image">
            <img src="/images/about/about-ufo.png" alt="UFO Architecture">
        </div>
        <section class="about-section">
            <h2>About 형선윤 & UFO</h2>
            <p><strong>디자인 과정</strong></p>
            <p>
              1. 해결해야 할 문제의 내용과 범위를 정의한다. <br>
2. 현 상황과 주변의 흐름을 조사한다. <br>
3. 보이지 않는 시스템을 확립하고 상상한다. <br>
4. 물리적 상황과 디테일을 제어한다. <br>
5. 공간을 넘어 삶의 결과물을 도출한다.<br><br> 단순한 ‘기능’을 넘어 공간이 품어야할 ‘본질’을 탐구합니다. 클라이언트의 요구사항 속에 숨겨진 잠재적 니즈를 발견하고, 이 프로젝트가 우리 삶에 던져야 할 질문과 해결해야 할 과업의 범위를 명확히 설정합니다. <br><br>
대지가 가진 물리적 조건뿐만 아니라 그 땅에 깃든 시간의 흐름, 주변 환경과의 관계, 그리고 그곳을 점유할 사람들의 행태를 미시적으로 관찰합니다. 데이터와 인문학적 통찰을 통해 공간의 토대가 될 유의미한 단서를 수집합니다. <br><br>
수집된 단서들을 바탕으로 공간의 질서를 세웁니다. 논리적인 시스템위에 감각적인 상상력을 덧입혀, 평면적인 도면을 넘어 입체적인 공간 경험의 시나리오를 구상합니다. <br><br>
상상이 현실이 되기 위해 치밀한 제어가 필요합니다. 빛과 그림자, 재료의 질감, 구조적 안전성 등 모든 물리적 요소를 정교하게 컨트롤합니다. 기술적 숙련도를 바탕으로 설계 의도가 시공의 디테일로 온전히 치환될 수 있도록 모든 과정을 조율합니다. <br><br>
물리적 건축물의 완공은 끝이 아닌 새로운 삶의 시작입니다. 완성된 결과물은 그 자체로 하나의 완결된 미학을 지니며, 그 안에서 사용자가 누릴 확장된 삶의 경험과 기억을 전달합니다. 우리는 공간이라는 그릇에 담길 ‘지속 가능한 일상’을 최종 결과물로 제안합니다.
            </p>
            
            <div class="representative">
                <p>대표 건축사 김형선 박선윤</p>
            </div>
        </section>
    </div>
</div>

<%- include('../layouts/footer') %> 