<%- include('../layouts/header') %>

<div class="home-container">
    <div class="main-visual">
        <h1>UFO Architecture</h1>
        <p>unidentified figurative object</p>
    </div>
    
    <div class="recent-projects">
        <h2>Recent Projects</h2>
        <!-- 최근 프로젝트 목록이 들어갈 자리 -->
    </div>
</div>

<%- include('../layouts/footer') %> 