<%- include('../layouts/header') %>

<div class="projects-grid">
    <a href="/project/1" class="work-item">
        <img src="/images/projects/refresh.jpg" alt="Refresh">
        <div class="work-info">
            <h3>Refresh</h3>
            <div class="work-categories">
                ARCHITECTURE, COMMERCIAL, 2025
            </div>
        </div>
    </a>
    <a href="/project/2" class="work-item">
        <img src="/images/projects/dw.jpg" alt="DW">
        <div class="work-info">
            <h3>DW</h3>
            <div class="work-categories">
                ARCHITECTURE, COMMERCIAL, 2025
            </div>
        </div>
    </a>
    <a href="/project/3" class="work-item">
        <img src="/images/projects/unjung.jpg" alt="Unjung">
        <div class="work-info">
            <h3>Unjung</h3>
            <div class="work-categories">
                ARCHITECTURE, RESIDENTIAL, 2025
            </div>
        </div>
    </a>
    <a href="/project/4" class="work-item">
        <img src="/images/projects/swb.jpg" alt="SWB">
        <div class="work-info">
            <h3>SWB</h3>
            <div class="work-categories">
                ARCHITECTURE, COMMERCIAL, 2023
            </div>
        </div>
    </a>
    <a href="/project/5" class="work-item">
        <img src="/images/projects/jegi.jpg" alt="Jegi">
        <div class="work-info">
            <h3>Jegi</h3>
            <div class="work-categories">
                ARCHITECTURE, RESIDENTIAL, 2022
            </div>
        </div>
    </a>
    <a href="/project/6" class="work-item">
        <img src="/images/projects/jegi_vacation.jpg" alt="Jegi Vacation">
        <div class="work-info">
            <h3>Jegi Vacation</h3>
            <div class="work-categories">
                ARCHITECTURE, RESIDENTIAL, 2021
            </div>
        </div>
    </a>
    <a href="/project/7" class="work-item">
        <img src="/images/projects/seongbuk.jpg" alt="Seongbuk">
        <div class="work-info">
            <h3>Seongbuk</h3>
            <div class="work-categories">
                ARCHITECTURE, RESIDENTIAL, 2017
            </div>
        </div>
    </a>
    <a href="/project/8" class="work-item">
        <img src="/images/projects/newcommun.jpg" alt="New Commun">
        <div class="work-info">
            <h3>New Commun</h3>
            <div class="work-categories">
                ARCHITECTURE, ACADEMIC, 2022
            </div>
        </div>
    </a>
    <a href="/project/9" class="work-item">
        <img src="/images/projects/alignment.jpg" alt="Alignment">
        <div class="work-info">
            <h3>Alignment</h3>
            <div class="work-categories">
                ARCHITECTURE, RESIDENTIAL, 2021
            </div>
        </div>
    </a>
    <a href="/project/10" class="work-item">
        <img src="/images/projects/piknic.jpg" alt="Piknic">
        <div class="work-info">
            <h3>Piknic</h3>
            <div class="work-categories">
                ARCHITECTURE, ACADEMIC, 2022
            </div>
        </div>
    </a>
    <a href="/project/11" class="work-item">
        <img src="/images/projects/bori.jpg" alt="Bori">
        <div class="work-info">
            <h3>Bori</h3>
            <div class="work-categories">
                ARCHITECTURE, COMMERCIAL, 2020
            </div>
        </div>
    </a>
</div>

<%- include('../layouts/footer') %> 
